alabaster==0.7.12
aniso8601==9.0.1
atomicwrites==1.4.0
Babel==2.9.1
certifi==2021.10.8
charset-normalizer==2.0.12
click
colorama
docutils==0.17.1
Flask
Flask-RESTful==0.3.9
Flask-SQLAlchemy
greenlet
idna==3.3
imagesize==1.3.0
importlib-metadata==4.11.2
iniconfig
gunicorn==20.1.0
itsdangerous
Jinja2
MarkupSafe
packaging
pluggy
Pygments==2.11.2
pyparsing
pytest==6.2.5
pytz==2021.3
requests==2.27.1
six==1.16.0
snowballstemmer==2.2.0
Sphinx==4.4.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy
urllib3==1.26.8
Werkzeug
zipp==3.7.0
